
.page2 .text-container .text-box p,
.page4 .text-container .text-box p{
  /* margin bottom for the arrow to keep distance frim arrows*/
  margin-bottom: 2rem;
}

.page2 .text-container .text-box,
.page4 .text-container .text-box,
.page5 .text-container .text-box{
  position: relative;
  overflow: hidden;
  transition: all .3s linear;
}
.page2 .text-container .text-box:hover,
.page4 .text-container .text-box:hover,
.page5 .text-container .text-box:hover{
  transform: translateY(-2rem);
  background: rgb(204, 102, 102);
}
.page2 .text-container .text-box:hover h3,
.page4 .text-container .text-box:hover h3,
.page5 .text-container .text-box:hover h3{
  color: black;
}
/* .page5 .text-container .text-box:hover [type="submit"]{
  background-color: white;
  color:rgb(204, 102, 102);
} */

.page2 .text-container .text-box .arrows,
.page4 .text-container .text-box .arrows{
  position: absolute;
  width: 100%;
  bottom: 4%;
  /* when left or right is not 0% it dosen align sideways(?) */
  left:0%;
  opacity: 0;
  transition: bottom 0.2s, opacity 0.6s;
  text-align: center;
  padding-top: 3rem;
  }

  .page2 .text-container .text-box:hover .arrows,
  .page4 .text-container .text-box:hover .arrows{
    bottom: 9%;
    opacity: 1;
  }
  .arrows{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
.arrow1{
    margin-right: 2rem;
    text-decoration: none;
}
.arrow{
    color: white;
    transition: color 0.3s;
}

.arrow .fa-solid{
  transform: scale(1.2);
    transition: transform 0.3s;
    text-transform: lowercase;
}

.arrow:hover .fa-solid{
    transform: scale(1.5);
}

.arrow:hover{
    color: #CC6666;
}

@media(max-width:1050px){
 .arrows{
  
    margin-bottom: 5rem;;
  }

}

