@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* since span has an upper z-index for fonnt face to 
stay on top, if we want background we need to add this div */
.button-background{
  position: relative;
  border-radius: 35px;
  width: 250px;
  height: 58px;
  background-color:rgb(32,32,32, 0.6);
  margin:auto;
}
.button {
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
  border-radius: 35px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 58px;
  /* line-height: 100px; */
  /* background-color: #34B3A0; */
  margin-top: 1.5rem;
  margin-bottom: 3rem;
    border: white 1px solid;
  }

@media(max-width: 900px){
  .button{
    margin:auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    }
  }
  
.button span,
.button .icon {
  position: absolute;
  display: block;
  height: 100%;
  text-align: center;
  padding: 1.1rem;
  font-size: 1rem;
  font-weight: 700;
}

.button .icon{
    text-align: left;
  }
  
.button span {
  z-index: 5;
  width: 90%;
  right: 0px;
  line-height: inherit;
  padding-right: 0.6rem;
  color: white;
  transition: all 100ms ease-out;
}

.button .icon {
    left: 0;
    width: 24%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: white;
    transition: width 200ms ease-in;
    padding-left: 1.2rem;
  }
  
  .button .icon .fa-solid {
    /* font-size: 30px; */
    /* vertical-align: middle; */
    color: black;
    transform: scale(1.2);
    transition: all 0.2s linear;
  }
  
.button:hover span {
    color: rgb(204, 102, 102);
}

.button:hover .icon {
    width: 100%;
  }
 
 .page--page1 a.button{
  margin: 2rem 0 5rem 0;
  
}

@media(max-width: 1050px){
.button-background{
  margin-bottom: 5rem;
}
}
@media(max-width: 600px){
  .page--page1 a.button{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  }
  