@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:100%; 
  /* margin:50px auto;  */
}

/* cide below overwrites mozilla default styling for autofill
but there are questions about other browsers, also its unclaer
how that transition below works. Chrome makes it difficult to 
overwrite color and background-color for its input fieals as 
the are written with the important sign:
https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/,
https://developer.mozilla.org/en-US/docs/Web/CSS/:autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #ec8787;
  -webkit-text-fill-color:  rgb(34, 32, 32);
  background-color: #cacac0;
  /* -webkit-box-shadow: 0 0 0px 1000px #2c2c29 inset; */
  transition: background-color 5000s ease-in-out 0s;
}

.feedback-input {
  color:  rgb(34, 32, 32);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #cacac0;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
color: rgb(34, 32, 32);
  background-color: #cacac0;
  border:3px solid #7b1010; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: white;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color: #CC6666;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { 
  color: #212428;
  background:#CC4949; }


.form__display-message{
display: block;
color: white;
width: 100%;
text-align: center;
padding-bottom: 0.5rem;
font-size: 1.2rem;
/* margin-bottom: 0.3rem; */
/* background-color: #CC6666; */
}