.link-to-projects{
    text-decoration: none;
    color: white;
  }

.link-to-projects.fa-solid{
    color: white;
    transition: all .2s linear;
}

.link-to-projects:hover{
    color:rgb(204, 102, 102);
  }


.link-to-projects .fa-solid:hover{
    transform: scale(1.3);
    color:rgb(204, 102, 102);
  
}
   