
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Asap", sans-serif;
  font-family: 'Courier New', Courier, monospace; */
  font-family: 'JetBrains Mono', monospace;
}

/* main: */
#fullpage{
   background-color:#CC6666;
}

/* margin-top here plus background-color to #fullpage
will add colored division between pages */
section:not(section:nth-child(1)){
  margin-top: 2rem;
}

.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}
.page--page1 {
  position: relative;
  background-color: #212428;
  background-image: url("../images/keyboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
    /* overflow hiddenfor rotated div not to go into another page or even on
    the margin below */
  overflow: hidden;
}

.page--page2 {
  background-color: #212428;
  background-image: url("../images/laptop2.jpg"), linear-gradient(270deg, white 5%, black 95%);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  /* filter:grayscale(20%); */
  background-attachment: fixed;
}

.page--page3 {
  background-color: #212428;
  background-image: linear-gradient(270deg, white 5%, black 95%);
  background-position: top;
}

.page--page4 {
  text-align: center;
  /* background-image: url("images/bulbs.jpg"); */
  background-color: #212428;
  background-repeat: no-repeat;
  background-size: cover;
}

.page--page5 {
  background-image: url("../images/phone.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page h1 {
  color: rgb(204, 102, 102);
  font-size: 0.8rem;
  margin: 20px;
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'JetBrains Mono', monospace;
}
.page h2 {
  text-transform: uppercase;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 3.5rem;
  text-align: center;
  color: rgb(204, 102, 102);
  font-size: 4rem;
  font-weight: bolder;
}
.page h3 {
  /* text-transform: uppercase; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'JetBrains Mono', monospace;
  color: rgb(204, 102, 102);
  font-size: 2rem;
  /* text-align: center; */
  display: inline-block;
}

.page__container {
  margin: 50px;
}

/* styling of rotated div 
element-rotade is child of page1 so page1 needs to set overflow properties + position to relative
otherwise refrence point changes:  */
.page--page1 .page__container{
  position: relative;
  /* z-index: 13; */
} 

.page__element-rotated{
  position: absolute;
  top: 0;
  left: 0;
  height: 180%;
  background-color: #212428;
  /* background-color: #CC6666; */
  width: 45vw;
  transform: rotate(-30deg) translate(-10rem,-20rem);
  overflow: hidden;
}

@media (max-width: 900px) {
.page__container{
    margin:0;
  }
.page__container{
    margin-top: 5rem;
}
.page__element-rotated{
    display:none;
  }
.page h1 {
  font-size: 2rem;
  text-align: center;}

.page h2{
margin-bottom: 0;
}
}

.text-container {
  display: flex;
}

.text-container__box{
  margin: 1rem;
  padding: 2rem;
  /* background: #00c2cb; */
  font-size: 1.5rem;
  color: white;
  flex: 1;
  border-radius: 20px;
  background: rgb(32,32,32, 0.9);
}

/* we need set width for those two boxes below
because typing at the start requires no space and obviously grows
bigger as it types so with no set width the whole element moves */
.text-container__box--one{
  position: relative;
  width: 30vw;
  /* height: 70vh; */
  overflow: hidden;
  padding: 0px;
  background-image: url("../images/me2.jpg");
  background-position: top 15%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  border-radius: 50px;
  filter:grayscale(20%);
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}
.text-container__box--two{
  width: 55vw;
  padding: 5rem
}
.text-container__highlighted-word{
  color: rgb(204, 102, 102);
  font-size: 2rem;
}

@media (max-width: 1000px) {
.text-container{
  flex-direction: column;
  }
.text-container__box--one{
  display: none;
}

.text-container__box--two{
  margin: auto;
  padding: 1rem;
  width: 90vw;
}
.text-container__box{
margin: 20px;
}
.text-container__box:nth-child(1){
  margin-top: 90px;
}}

.page--page2 .text-container__box{
  color: white;
  font-size: 1.5rem;
}
.text-container--page2,
.text-container--page4{
  flex-direction: column;
  text-align: left;
}
/* .text-container p::first-letter{
  color: rgb(204, 102, 102);
} */
.page--page2 .text-container p::first-line,
.page--page4 .text-container p::first-line{
  text-indent: 145px;
  color: rgb(204, 102, 102);
}

.page--page4 .text-container__box{
  background-color: transparent;
}

.page--page4.page__container{
text-align: center;
display: block;
}

.page--page5 .text-container__box h3{
  color:rgb(204, 102, 102);
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}

.text-container_box--my-details{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

 /* fullpage side dots */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background: rgb(204, 102, 102);
}