.toggle-button {
    position: fixed;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin: 1rem;
    z-index: 100;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
  }
  
  @media(min-width: 900px){
      .toggle-button{
          display: none;
      }
  }

  .mobile-nav {
    transform: translateX(-100%);
    position: fixed;
    z-index: 302;
    top: 0;
    left: 0;
    background: #CC6666;
    width: 80%;
    height: 100vh;
    transition: transform 300ms ease-out;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .mobile-nav__item {
    margin: 2rem 0;
  }
  
  .mobile-nav__item .link {
    font-weight: 700;
    /* font-family: "Courier"; */
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    text-decoration: none;
    color: #212428;
  }

  .mobile-nav__item .link:hover{
    color: white;
    text-decoration: underline;
  }

  .mobile-nav__item .link.current{
    color: white;
    text-decoration: underline;

  }

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s linear;
  }
  
.open {
    /* display: block !important; */
  opacity: 1 !important;
  transform: translateY(0) !important;
}
  

/* css for modal */
.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    display: none;
    transition: opacity 200ms ease-out, transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: 301;
    top: 20%;
    left: 20%;
    width: 60%;
    min-height: 60vh;
    background: #212428;
    padding: 1rem;
    padding-top: 3rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
.modal__content{
    /* text-align: center; */
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    color: white;
  }
.modal__content::first-line {
    color:#CC6666;
}

.modal__actions {
  text-align: center;
  }
  
.modal__action {
  position: absolute;
  top: -15%;
  right: 0;
  height: 60px;
  width: 60px;
/* transform: translate(-50%,-50%); */
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  border-color:white;
  }

.modal__action i.fa-solid{
  transform: scale(1.7);
  }
 
  
@media(max-width:900px){
  .modal{
    top: 10%;
    left: 5%;
    width: 90%;
    max-height: 600px;
    overflow: auto;
  }
 
  /* with postion relative we moving closin button under the text */
  .modal__action {
    position: relative;
    margin-bottom: 2rem; 
    margin-top: 6rem;     
      }
  }
  
  .modal__action--negative {
    background: transparent;
    border-color:white;
  }
 


