@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


.image-box {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    /* width: 350px;
    height: 230px; */
    width: 24vw;
    height: 18vw;
    line-height: 100px;
    background-color: #CC6666;
    color: #fff;
    margin: 30px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .image-box__text,
  .image-box__cover{
    position: absolute;
    margin-top: 3rem;
    display: block;
    width: 100%;
    text-align:center;
    color:white;
  }

.image-box__text {
    height: 0%;
    top: 0;
    line-height: inherit;
    font-size: 22px;
    transition: height 100ms ease-out 350ms;
  }
  
  .image-box__cover {
    bottom: 0;
    height: 100%;
    transition: bottom 350ms ease-in 100ms;
  }

   .image-box__cover .image{
      height: 100%;
      width: auto;

  }
  
  .image-box:hover .image-box__text {
    height: 100%;
  }
  
  .image-box:hover .image-box__cover {
    bottom: -100%;
  }
  .image-box:hover{
    transform: scale(1.1);
  }
  
  
@media(max-width: 900px){
/* height below when using ay other units
didnt allow to save an image proportion when resizng browser  */
.image-box{
  width:85vw;
  height: 65vw;
}
.image-box:nth-child(1){
  margin-top: 4rem;
}
.image-box__text{
  margin-top: 6rem;
}
.image-box__text{
  margin-top: 5rem;
  }
}
  