.css-typing--mobile{
  display: none;
}

.css-typing__header{
  text-align: center;
  margin: 1rem 0 3rem 0;
  letter-spacing: 6px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.css-typing p {
    border-right: .15em solid orange;
    /* font-family: "Courier"; */
    font-family: 'JetBrains Mono', monospace;
    font-size: 2rem;
    /* no-wrap is key for typewriting */
    white-space: nowrap;
    overflow: hidden;
    color: white;
  }

.css-typing .css-typing__1{
     color: #CC6666;
      font-size: 3.2rem;
 } 

 .css-typing__no-typing{
    color: white;
    font-size: 1.1rem;
    line-height: 30px;
    opacity: .9;
    padding-right: 16%;
    /* font-family: Courier, monospace; */
    font-family: 'JetBrains Mono', monospace;
    }

  /* .css-typing p:nth-child(1) { */
    .css-typing__1{
  
    margin-top: 4rem;
    font-weight: bolder;
    width: 34rem;
    -webkit-animation: type 8s steps(60, end);
    animation: type 8s steps(60, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  /* .css-typing p:nth-child(2) { */
    .css-typing__2{
    width: 28rem;
    opacity: 0;
    -webkit-animation: type2 8s steps(80, end);
    animation: type2 8s steps(80, end);
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

 /* .css-typing p:nth-child(3) { */
    .css-typing__3{
    width: 27.7rem;
    opacity: 0;
    padding-right: 0.5rem;
    -webkit-animation: type3 8s steps(80, end), blink .5s step-end infinite alternate;
    animation: type3 8s steps(80, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-bottom: 2rem;
  }

  @media(max-width: 600px){
    .css-typing--desktop{
      display: none;
    }
    .css-typing--mobile{
      display: block;
    }
    .css-typing p{
      font-size:1.4rem;
      }
    .css-typing__no-typing{
      font-size: 1rem;
    }
    .css-typing .css-typing__1{
      color: #CC6666;
      font-size: 2.3rem;
    }
    .css-typing__1{
      width: 19rem;
    }
    .css-typing__2{
      width: 19rem;
    }
    .css-typing__3{
      width: 19rem;
      margin-bottom: 2rem;
    }
  }
  
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
      opacity: 1;
    }
    /* 1% {
      opacity: 1;
    } */
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
      opacity: 1;
    }
    /* 1% {
      opacity: 1;
    } */
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  @keyframes type2 {
    0% {
      width: 0;
      opacity: 1;
    }
    /* 1% {
      opacity: 1;
    } */
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
      opacity: 1;
    }
    /* 1% {
      opacity: 1;
    } */
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
      opacity:1;
    }
    /* 1% {
      opacity: 1;
    } */
    100% {
      opacity: 1;
    }
  }
  

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }